*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
}

.fav{
    display: flex;
    position: absolute;
    width: 400px;
    height: 105px;
    background-color: brown;
    padding: 400px 32px;
    overflow: hidden;
    border-radius: 16px;
    background-image: url('../images/bgforfav.jpg');
    background-size: cover;
    top: 70px;
    left: 400px;


    
}
.fav:hover{
   transition: all 0.5s ease-in-out;
    box-shadow: 4px 2px 6px 5px hsl(49, 89%, 48%);

}
h1{
    font-size: 33px;
    margin-top: -99%;
    color: #f10a0a;
}
.container{
                
}
.bgimage {
 
}           