:root {
--main:#791515;
--linkcolor:#ffffff;
--linkhover:#c0c0c0;
--headingfont: font-family: 'Bodoni Moda', serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 475px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 7rem;
  background-color: var(--red);
  transition: clip-path 0.3s;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  position: fixed;
  z-index: 5;
}

header a {
  font-size: 2rem;
  padding: 0.5rem;
  transition: color 0.3s, outline 0.7s;
  outline-color: var(--red);
}

a {
  text-decoration: none;
}

nav a:link {
  color: white;
}

nav a:visited {
  color: white;
}

nav a:hover {
  color: silver;
  outline: thin solid;
}

nav a:active {
  color: white;
}

nav {
  margin: 1rem;
}

h1 {
  font-size: 4rem;
  padding-left: 2rem;
  color: white;
  margin: 0.5rem 0;
}

h2 {
  font-size: 2.5rem;
}

main {
  display: flex;
  flex-flow: column;
  margin: 7rem auto 1rem;
  justify-content: center;
}

main section {
  display: flex;
  margin: 1rem;
}
.custom-btn {

}
.custom-btn:hover {
 
}