:root {
  --main: #2b7194;
  --secondary: #90b6c9;
  --tertiary: #dfdfdf;
  --linkcolor: #ffffff;
  --linkhover: #a6b2c4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 475px;
  justify-content: center;
  align-items: center;
  /* background-color: var(--tertiary); */
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1rem;
  min-height: 6.5rem;
  background-color: var(--main);
  transition: clip-path 0.3s;
  clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
  position: relative;
  z-index: 5;
}

header a {
  font-size: 2rem;
  padding: 0 0.5rem;
  transition: color 0.3s, outline 0.7s;
}

a {
  text-decoration: none;
}

nav a:link,
a:visited,
a:active {
  color: white;
}

nav a:hover {
  color: var(--linkhover);
  outline: thin solid;
}

h1 {
  font-size: 3rem;
  color: white;
  font-family: var(--headingfont);
}

main {
  display: flex;
  flex-flow: column;
  margin: 1rem auto 1rem;
  justify-content: center;
  width: 50%;
  transition: display, 0.5s;
}

main section {
  display: flex;
  flex-flow: column;
}

#searchSection {
  margin: 0 25% 2rem;
}

#searchSection > * {
  margin: 0 0 0.3rem 0;
  font-size: 1rem;
}

#searchSection h2 {
  font-size: 2rem;
  text-align: center;
}

.ui-autocomplete {
  max-height: 200px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

.accordion img {
  width: 100px;
  height: 100px;
}

/***** MEDIA QUERIES *****/
@media screen and (max-width: 992px) {
  header {
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 0;
    transition: clip-path 0.3s;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    min-height: 30rems;
    text-align: center;
  }

  main {
    margin: 1rem;
    flex-direction: column;
  }
}